USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [s]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE USER [s] FOR LOGIN [z] WITH DEFAULT_SCHEMA=[s]
GO
/****** Object:  User [HTKN]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE ROLE [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]
GO
/****** Object:  DatabaseRole [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE ROLE [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]
GO
/****** Object:  DatabaseRole [MSmerge_52650E30CF884727B473E26F2948DB06]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE ROLE [MSmerge_52650E30CF884727B473E26F2948DB06]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_52650E30CF884727B473E26F2948DB06]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Schema [s]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE SCHEMA [s]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_TaoMaNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnc_TaoMaNV]()
RETURNS nchar(10)
AS
BEGIN
    DECLARE @temp nchar(10);
    DECLARE @newID bigint;
    DECLARE @newMANV nchar(10);

    SELECT @temp = MAX(MANV) FROM LINK0.NGANHANG.dbo.NHANVIEN;

    SET @newID = CAST((SUBSTRING(@temp, 3, 8)) AS bigint) + 1;
    SET @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS NVARCHAR(10)), 8);

    RETURN @newMANV;
END;
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM     LINK0.NGANHANG.dbo.sysmergepublications AS PUBS INNER JOIN
                  LINK0.NGANHANG.dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
WHERE  (PUBS.description <> N'Site tra cứu thông tin khách hàng')
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SoDT] [nvarchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_ChuyenTien] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GoiRut] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[NGAYCAP] [date] NOT NULL,
	[SoDT] [nvarchar](15) NULL,
	[PHAI] [nvarchar](3) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NULL,
	[SoDT] [nvarchar](15) NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'123456', N'c21f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'c31f9af9-5ddd-ee11-8ca7-920f0c911ca1')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (16, N'010000002', CAST(N'2022-05-11T01:39:18.953' AS DateTime), 1000000.0000, N'010000015', N'NV00000002', N'c8b9e9cd-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (17, N'010000002', CAST(N'2022-05-11T01:42:22.273' AS DateTime), 1000000.0000, N'010000015', N'NV00000002', N'c9b9e9cd-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (18, N'010000002', CAST(N'2022-05-26T10:17:15.927' AS DateTime), 1000000.0000, N'010000004', N'NV00000002', N'cab9e9cd-b8fd-ee11-8cb3-005056c00008')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290154, N'010000003', N'GT', CAST(N'2022-05-05T18:29:46.153' AS DateTime), 100000.0000, N'NV00000001', N'f56c3597-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290155, N'010000003', N'RT', CAST(N'2022-05-05T18:30:11.893' AS DateTime), 100000.0000, N'NV00000001', N'f66c3597-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290156, N'010000002', N'GT', CAST(N'2022-05-11T01:41:53.133' AS DateTime), 1000000.0000, N'NV00000001', N'f76c3597-b8fd-ee11-8cb3-005056c00008')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Lê Phúc ', N'Khang', N'Quảng Ngãi', N'025234    ', CAST(N'2002-10-01' AS Date), N'123124214', N'Nam', N'BENTHANH  ', N'c517f258-18e8-ee11-8caa-005056c00008')
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Trần Thị Huyền', N'Nguyễn', N'118 Zijo Pike', N'1000000000', CAST(N'2021-12-12' AS Date), N'0800908761', N'Nữ', N'BENTHANH  ', N'915deee0-81fd-ee11-8cb3-005056c00008')
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Lê Thị', N'Phượng', N'1425 Opime Pass', N'1010101010', CAST(N'2020-12-27' AS Date), N'0506542471', N'Nữ', N'TANDINH   ', N'925deee0-81fd-ee11-8cb3-005056c00008')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000001', N'Trần Minh', N'Nguyên', N'', N'0123456789', N'Nam', N'1111111111', N'BENTHANH  ', 0, N'c41f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000002', N'Lê Văn', N'Anh', N'', N'1234567890', N'Nam', N'2222222222', N'TANDINH   ', 0, N'c51f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000003', N'Lê Phúc ', N'Khang', N'Quảng Ngãi', N'4123412343', N'nam', N'4312341234', N'BENTHANH  ', 0, N'1f08efec-d9dd-ee11-8ca7-920f0c911ca1')
GO
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000001', N'2222222222', 99100000.0000, N'BENTHANH  ', CAST(N'2022-05-26T00:00:00.000' AS DateTime), N'd1e08979-b7fd-ee11-8cb3-005056c00008')
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000002', N'1000000000', 1900200000.0000, N'BENTHANH  ', CAST(N'2022-05-30T20:01:00.977' AS DateTime), N'e8861bbc-b7fd-ee11-8cb3-005056c00008')
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000003', N'1231231231', 8800000.0000, N'BENTHANH  ', CAST(N'2022-05-31T23:54:44.243' AS DateTime), N'e9861bbc-b7fd-ee11-8cb3-005056c00008')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHINHANH__A58D6F6243AD1672]    Script Date: 6/15/2024 10:41:55 PM ******/
ALTER TABLE [dbo].[CHINHANH] ADD UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_901578250]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_901578250] ON [dbo].[CHINHANH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYGD]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYGD] ON [dbo].[GD_CHUYENTIEN]
(
	[NGAYGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TK_CHUYENTIEN]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_TK_CHUYENTIEN] ON [dbo].[GD_CHUYENTIEN]
(
	[SOTK_CHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1333579789]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1333579789] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1205579333]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1205579333] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KHACHHANG_TEN]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_KHACHHANG_TEN] ON [dbo].[KHACHHANG]
(
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_949578421]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_949578421] ON [dbo].[KHACHHANG]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NHANVIEN_TEN]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_NHANVIEN_TEN] ON [dbo].[NHANVIEN]
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1013578649]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1013578649] ON [dbo].[NHANVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TAIKHOAN_NGAYMOTK]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_TAIKHOAN_NGAYMOTK] ON [dbo].[TAIKHOAN]
(
	[NGAYMOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1125579048]    Script Date: 6/15/2024 10:41:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1125579048] ON [dbo].[TAIKHOAN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [MSmerge_df_rowguid_2E9F8BD251E6450883E26F9BEF4A62CD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_EFF0F07FF68F4CF89CEFAF312B8AF52C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_876BFB28580947079E51EAA2805681BB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_631E20C8B319440994A215F20B05B284]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT ('Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_22FC524E48B34BB084850ECA703CED39]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [MSmerge_df_rowguid_679335EF4D084E77AAE6668C59FAD401]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TAIKHOAN] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TAIKHOAN1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TAIKHOAN1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NHANVIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TAIKHOAN] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_CHINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CHINHANH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_KHACHHANG] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHHANG] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_ChuyenTien] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_ChuyenTien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_3BDCA57A_F938_470D_8C38_543F067606C5] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_3BDCA57A_F938_470D_8C38_543F067606C5]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_GD_GoiRut] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_GD_GoiRut]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_GD_GoiRut_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_GD_GoiRut_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0E87CF11_63FD_4841_A3B5_812DCFD91D89] CHECK NOT FOR REPLICATION (([MAGD]>(290124) AND [MAGD]<=(291124) OR [MAGD]>(291124) AND [MAGD]<=(292124)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_0E87CF11_63FD_4841_A3B5_812DCFD91D89]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_PHAI] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KhachHang_PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_PHAI] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NhanVien_PHAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SODU] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TaiKhoan_SODU]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenChiNhanh]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ChuyenChiNhanh]
@MANV nchar(10)
as
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN TRANSACTION;
BEGIN TRY
	if not exists (select MANV from dbo.NHANVIEN where MANV = @MANV)
	BEGIN
		rollback
		return 1 -- Không tồn tại MANV
	END
	else if (select TrangThaiXoa from dbo.NHANVIEN where MANV = @MANV) = 1
	BEGIN
		rollback
		return 2 -- Nhân viên không còn làm ở chi nhánh nữa
	END
	declare @CMND nchar(10)
	select @CMND = CMND from dbo.NHANVIEN where MANV = @MANV

	if exists (select CMND from LINK1.NGANHANG.dbo.NHANVIEN where CMND = @CMND)
	BEGIN
		update LINK1.NGANHANG.dbo.NHANVIEN
		set TrangThaiXoa = 0
		where CMND = @CMND
	END
	else
	BEGIN
		declare @temp nchar(10);
		declare @newID bigint;
		declare @newMANV nchar(10);

		SELECT @temp = ISNULL(MAX(MANV), 'NV00000000') FROM LINK0.NGANHANG.dbo.NHANVIEN

		SET @newID = CAST((SUBSTRING(@temp, 3, 8)) AS bigint) + 1
		SET @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS nvarchar(10)), 8)

		insert into LINK1.NGANHANG.dbo.NHANVIEN (MANV, CMND, HO, TEN, PHAI,SoDT, DIACHI, MACN, TrangThaiXoa)
		select	@newMANV as MANV, 
				CMND,
				HO, 
				TEN, 
				PHAI, 
				SoDT, 
				DIACHI, 
				(select top 1 MACN from LINK1.NGANHANG.dbo.CHINHANH) as MACN, 
				0 
		from dbo.NHANVIEN 
		where MANV = @MANV
	END

	update dbo.NHANVIEN
	set TrangThaiXoa = 1
	where MANV = @MANV

	COMMIT TRANSACTION;
	return 0 -- Thành công
END TRY

BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION;
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage,16,1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachKhachHang]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DanhSachKhachHang]
@type int = 0
as
begin
	if @type = 0
	begin
		select CMND, NGAYCAP, HO, TEN, DIACHI, PHAI, SoDT, MACN
		from dbo.KHACHHANG
	end
	else
	begin
		select CMND, NGAYCAP, HO, TEN, DIACHI, PHAI, SoDT, MACN
		from dbo.KHACHHANG with (index = IX_KHACHHANG_TEN)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachKhachHang_NganHang]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DanhSachKhachHang_NganHang]
as
begin
	CREATE TABLE #TempKHACHHANG
	(
		CMND NCHAR(10),
		NGAYCAP DATE,
		HO NVARCHAR(50),
		TEN NVARCHAR(10),
		DIACHI NVARCHAR(100),
		PHAI NVARCHAR(3),
		SoDT NVARCHAR(15),
		MACN NCHAR(10)
	);
	INSERT INTO #TempKHACHHANG
	EXEC LINK1.NGANHANG.dbo.sp_DanhSachKhachHang	
	@type = 1;

	select CMND, NGAYCAP, HO, TEN, DIACHI, PHAI, SoDT, MACN
	from dbo.KHACHHANG with (index = IX_KHACHHANG_TEN)
	union all (select * from #TempKHACHHANG)

	drop table #TempKHACHHANG
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNhanVien]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DanhSachNhanVien]
as
BEGIN
	select MANV, CMND, HO, TEN, PHAI, DIACHI, SoDT, TrangThaiXoa
	from dbo.NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachTaiKhoan_ChiNhanh]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachTaiKhoan_ChiNhanh] @dateFrom AS DATE, @dateTo AS DATE, @Loai VARCHAR(3), @MACN NCHAR(10)
AS
BEGIN
-- IF EXISTS (SELECT MACN FROM LINK2.NGANHANG.dbo.KhachHang WHERE MACN = @MACN)
--Cho chạy vào thẳng để xem luôn
      --BEGIN
                  IF (@Loai = 'T')--TẤT CẢ CHI NHÁNH
                  BEGIN
                        SELECT TK.SOTK,KH.HO +' ' + KH.TEN AS HOTEN,TK.CMND,TK.MACN,TK.NGAYMOTK
                        FROM LINK2.NGANHANG.dbo.KhachHang AS KH,
                        (SELECT SOTK,CMND,MACN,NGAYMOTK FROM TaiKhoan WHERE NGAYMOTK BETWEEN @dateFrom AND @dateTo) AS TK 
                        WHERE KH.CMND = TK.CMND 
                        ORDER BY NGAYMOTK
                  END
                  ELSE IF (@Loai = 'C')--CHI NHÁNH HIỆN TẠI
                  BEGIN
                        SELECT TK.SOTK,KH.HO +' ' + KH.TEN AS HOTEN,TK.CMND,TK.MACN,TK.NGAYMOTK
                        FROM LINK2.NGANHANG.dbo.KhachHang AS KH,
                        (SELECT SOTK,CMND,MACN,NGAYMOTK FROM TaiKhoan WHERE NGAYMOTK BETWEEN @dateFrom AND @dateTo AND MACN = @MACN) AS TK 
                        WHERE KH.CMND = TK.CMND
                        ORDER BY NGAYMOTK
                  END
     -- END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachTaiKhoan_KhachHang]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DanhSachTaiKhoan_KhachHang]
@CMND nchar(10) = ''
as
begin
	select SOTK, (select trim(HO) + ' ' + trim(TEN) from dbo.KHACHHANG where CMND = @CMND) as HOTEN, CMND, NGAYMOTK, SODU, MACN
	from LINK2.NGANHANG.dbo.TAIKHOAN
	where CMND = @CMND
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DSGD_ChuyenTien_NV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DSGD_ChuyenTien_NV]
@MANV nchar(10)
as
select MAGD, NGAYGD, SOTK_CHUYEN, SOTK_NHAN, SOTIEN
from dbo.GD_CHUYENTIEN 
where MANV = @MANV
GO
/****** Object:  StoredProcedure [dbo].[sp_DSGD_GuiRut_NV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DSGD_GuiRut_NV]
@MANV nchar(10)
as
select MAGD, LOAIGD, SOTK, NGAYGD, SOTIEN
from dbo.GD_GOIRUT
where MANV = @MANV
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_CMND_KH]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Existed_CMND_KH]
@CMND nchar(10)
as
BEGIN
	IF exists (select CMND from LINK2.NGANHANG.dbo.KHACHHANG where CMND = @CMND)
		return 1;
	else
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_CMND_NV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Existed_CMND_NV]
@CMND nchar(10)
as
BEGIN
	IF exists (select CMND from LINK0.NGANHANG.dbo.NHANVIEN where CMND = @CMND)
		return 1;
	ELSE
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_STK]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Existed_STK]
@SOTK nchar(9)
as
BEGIN
	IF exists (select SOTK from LINK2.NGANHANG.dbo.TAIKHOAN where SOTK = @SOTK)
		return 1;
	ELSE
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaxMaNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_GetMaxMaNV]
as
BEGIN
	select MAX(MANV)
	from LINK0.NGANHANG.dbo.NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaxSTK]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetMaxSTK]
as
BEGIN
	select MAX(SOTK)
	from dbo.TAIKHOAN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GuiRut]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GuiRut] (@SOTK NCHAR(9), @TIEN MONEY, @LOAIGD NCHAR(2),@MANV NCHAR(10))
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN TRANSACTION		-- Nếu chỉ SP chỉ có một lệnh UPDATE thì ta không cần sử dụng giao tác vì nó là giao tác tự động.
	BEGIN TRY			-- Nhưng SP này ta có 2 lệnh là UPDATE và INSERT.
		IF EXISTS(SELECT SOTK FROM dbo.TaiKhoan WHERE SOTK = @SOTK)	-- Kiểm tra stk có tồn tại hay không, sau đó xét xem nó là 'RT' hay 'GT'
			BEGIN
				DECLARE @SODUDAU MONEY;
			  SELECT @SODUDAU = SODU FROM dbo.TaiKhoan WHERE SOTK = @SOTK;
			  DECLARE @SODUSAU MONEY;

				IF @LOAIGD = 'GT'
					BEGIN
						UPDATE dbo.TaiKhoan
						SET @SODUSAU = @SODUDAU + @TIEN
						WHERE SOTK = @SOTK

						INSERT INTO GD_GOIRUT(SOTK,LOAIGD,NGAYGD,SOTIEN,MANV) 
							VALUES(@SOTK,@LOAIGD,GETDATE(),@TIEN,@MANV)
					END

	
				ELSE IF @LOAIGD = 'RT'
					BEGIN
						IF @SODUDAU < @TIEN
							RAISERROR('SO DU KHONG DU !!!', 16, 1)
						ELSE
							BEGIN
								UPDATE dbo.TaiKhoan
								SET @SODUSAU = @SODUDAU - @TIEN
								WHERE SOTK = @SOTK

								INSERT INTO GD_GOIRUT(SOTK,LOAIGD,NGAYGD,SOTIEN,MANV) 
									VALUES(@SOTK,@LOAIGD,GETDATE(),@TIEN,@MANV)
							END
					END
			END
		ELSE
			RAISERROR('SO TAI KHOAN KHONG TON TAI !!!', 16, 1)
		COMMIT TRANSACTION;
	END TRY
	
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION;
			DECLARE @ErrorMessage NVARCHAR(2000)
			SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
			RAISERROR (@ErrorMessage,16,1)
		END
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyXoaNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_HuyXoaNV]
@MANV nchar(10)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
BEGIN TRANSACTION;
BEGIN TRY
    IF NOT EXISTS (SELECT MANV FROM dbo.NHANVIEN WHERE MANV = @MANV)
        BEGIN
            RETURN 1; -- Không tồn tại mã nhân viên 
        END
    ELSE IF (SELECT TrangThaiXoa FROM dbo.NHANVIEN WHERE MANV = @MANV) = 0
        BEGIN
            RETURN 2; -- Nhân viên đã bị chưa bị xóa
        END
    ELSE IF (SELECT TrangThaiXoa FROM LINK1.NGANHANG.dbo.NHANVIEN WHERE CMND = (SELECT CMND FROM dbo.NHANVIEN WHERE MANV = @MANV)) = 0
        BEGIN
            RETURN 3; -- Nhân viên đang làm việc ở chi nhánh khác, yêu cầu chuyển chi nhánh.
        END
    ELSE
        BEGIN
            UPDATE NHANVIEN
            SET TrangThaiXoa = 0
            WHERE MANV = @MANV;
        END

    COMMIT TRANSACTION;
    RETURN 0; -- Hủy xóa thành công
END TRY

BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION;
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage,16,1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login] @TENLOGIN NVARCHAR(20)
AS
BEGIN
	DECLARE @UID INT
	DECLARE @MANV INT

	SELECT @UID = UID, @MANV = NAME  FROM SYS.sysusers
		WHERE SID = SUSER_SID(@TENLOGIN)

	

	SELECT  
		 MANV = @MANV, HOVATEN = (SELECT (HO + ' ' + TEN) FROM NHANVIEN WHERE @MANV = MANV),
		NHOM = NAME FROM SYS.SYSUSERS 
			WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID = @UID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayThongTinLogin]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_LayThongTinLogin]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @USERNAME NVARCHAR(50), @UID INT
SELECT @UID = UID, @USERNAME = NAME 
FROM sys.sysusers 
WHERE sid = SUSER_SID(@TENLOGIN)
 
IF exists (select MANV from dbo.NHANVIEN where MANV = @USERNAME)
	BEGIN
		SELECT USERNAME = @USERNAME, 
			HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @USERNAME),
			TENNHOM = NAME
		FROM sys.sysusers 
		WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID= @UID)
	END
ELSE
	SELECT USERNAME = @USERNAME, 
		HOTEN = (SELECT HO + ' ' + TEN FROM dbo.KHACHHANG WHERE CMND = @USERNAME),
		TENNHOM = NAME
		FROM sys.sysusers
		WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID= @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinNhanVien]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinNhanVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UID INT
SELECT @UID= UID, @TENUSER=NAME FROM sys.sysusers 
     WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT MANV = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UID)
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaThongTinNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_SuaThongTinNV]
@MaNV nchar(10), 
@CMND nchar(10), 
@Ho nvarchar (50), 
@Ten nvarchar(10), 
@Phai nvarchar(3), 
@SODT nvarchar(15), 
@Diachi nvarchar(100)
as
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN TRANSACTION
BEGIN TRY

	if not exists (select MANV from dbo.NHANVIEN where MANV = @MaNV)
	BEGIN
		rollback
		return 1 -- Không tồn tại MANV
	END

	declare @current_CMND nchar(10)
	select @current_CMND = CMND from dbo.NHANVIEN where MANV = @MANV
	
	if @CMND in (	select CMND 
					from LINK0.NGANHANG.dbo.NHANVIEN
					where CMND != @current_CMND )
	BEGIN
		rollback
		return 2 -- trùng CMND với NV khác
	END

	update dbo.NHANVIEN
	set CMND = @CMND,
		HO = @HO,
		TEN = @Ten,
		PHAI = @Phai,
		SoDT = @SODT,
		DIACHI = @Diachi
	where MANV = @MaNV

	-- Trường hợp chi nhánh khác cũng có thông tin nhân viên này (cùng CMND -> 1 người) nhưng khác MANV
	declare @link1MANV nchar(10) 
	if exists (select MANV from LINK1.NGANHANG.dbo.NHANVIEN where CMND = @current_CMND)
	BEGIN
		select @link1MANV = MANV from LINK1.NGANHANG.dbo.NHANVIEN where CMND = @current_CMND
		update LINK1.NGANHANG.dbo.NHANVIEN
		set CMND = @CMND,
			HO = @HO,
			TEN = @Ten,
			PHAI = @Phai,
			SoDT = @SODT,
			DIACHI = @Diachi
		where MANV = @link1MANV
	END

	COMMIT TRANSACTION
	return 0 -- thành công
END TRY

BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION;
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage,16,1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_tao_tai_khoan_khach_hang]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tao_tai_khoan_khach_hang]
	@stk NCHAR(9),
	@cmnd NCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN TRANSACTION

		-- Kiem tra su ton tai cua khach hang bang CMND
		DECLARE @ktkh INT
		SELECT @ktkh = COUNT(*) FROM KhachHang

		IF @ktkh = 0
		BEGIN
			SELECT @ktkh = COUNT(*) FROM LINK1.NGANHANG.DBO.KhachHang WHERE CMND = @cmnd

			if @ktkh = 0
				RAISERROR(N'Khách hàng không tồn tại', 16, 1)
		END

		-- Mã chi nhánh hiện tại
		DECLARE @macn NCHAR(10)
		SELECT @macn = MACN FROM ChiNhanh

		INSERT INTO TaiKhoan (SOTK, CMND, SODU, MACN)
		VALUES (@stk, @cmnd, 0, @macn)

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
        ROLLBACK TRANSACTION
		
		DECLARE @ErrorMessage VARCHAR(MAX), @ErrorSeverity INT, @ErrorState INT
		SET @ErrorMessage  = ERROR_MESSAGE()
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tao_tai_khoan_nhan_vien]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tao_tai_khoan_nhan_vien]
	@username NCHAR(10),
	@loginname NVARCHAR(50),
	@password NVARCHAR(50)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN TRANSACTION

		-- Check NhanVien
		DECLARE @cknv INT
		SELECT @cknv = COUNT(*) FROM NhanVien WHERE MANV = @username
		IF @cknv = 0
			RAISERROR('Mã nhân viên không tồn tại hoặc không thuộc chi nhánh này', 16, 1)	

		DECLARE @sql NVARCHAR(MAX)

		-- Create login
		SET @sql = 'CREATE LOGIN ' + @loginname + ' WITH PASSWORD = ''' + @password + ''''
		EXECUTE (@sql)

		-- Create user
		SET @sql = 'CREATE USER ' + @username + ' FOR LOGIN ' + @loginname
		EXECUTE (@sql)

		-- Get current (Support Alter role)
		DECLARE @cusername NCHAR(10)
		SELECT @cusername = NAME FROM SYS.sysusers WHERE SID = SUSER_SID(SUSER_NAME())

		-- Alter role
		IF IS_ROLEMEMBER ('ngan_hang', @cusername) = 1
			SET @sql = 'ALTER ROLE nhan_vien ADD MEMBER ' + @username
		ELSE IF IS_ROLEMEMBER ('chi_nhanh', @cusername) = 1
			SET @sql = 'ALTER ROLE chi_nhanh ADD MEMBER ' + @username
		ELSE
			RAISERROR('Hành động bị từ chối do không rõ quyền hạn', 16, 1)

		EXECUTE (@sql)

		-- Alter system role
		SET @sql = 'ALTER SERVER ROLE securityadmin ADD MEMBER ' + @loginname
		EXECUTE (@sql)

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
        ROLLBACK TRANSACTION
		
		DECLARE @ErrorMessage VARCHAR(MAX), @ErrorSeverity INT, @ErrorState INT
		SET @ErrorMessage  = ERROR_MESSAGE()
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoLogin]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_TaoLogin]
@LGNAME VARCHAR(50),
@PASS VARCHAR(50),
@USERNAME VARCHAR(50),
@ROLE VARCHAR(50)
AS
	DECLARE @RET INT
	EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'NGANHANG'
	
	IF (@RET =1)  -- LOGIN NAME BI TRUNG
		RETURN 1
	EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	
	IF (@RET =1)  -- USER  NAME BI TRUNG
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		RETURN 2
	END
	
	EXEC sp_addrolemember @ROLE, @USERNAME
	IF @ROLE = 'NganHang' OR @ROLE = 'ChiNhanh'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
	RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoMaNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TaoMaNV]
as
BEGIN
	declare @temp nchar(10)
	declare @newID int
	declare @newMANV nchar(10)

	select @temp = MAX(MANV)
	from LINK0.NGANHANG.dbo.NHANVIEN

	set @newID = CAST((SUBSTRING(@temp, 3, 8)) as INT) + 1
	set @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS NVARCHAR(10)), 8)

	select @newMANV as MANV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTK_KH]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoTK_KH] 
@SOTK nchar(9), 
@CMND nchar(10), 
@SODU money, 
@MACN nchar(10), 
@NGAYMOTK datetime
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN TRANSACTION
		-- Kiem tra su ton tai cua khach hang bang CMND
		declare @existedCMND int
		exec @existedCMND = sp_Existed_CMND_KH @CMND
		if(@existedCMND = 1)
		BEGIN
			rollback
	  		RETURN 1 -- Thêm không thành công
		END
  -- CMND ko tồn tại
  		if(@existedCMND = 0)
		BEGIN
			INSERT INTO TaiKhoan (SOTK , CMND , SODU , MACN , NGAYMOTK)
			VALUES (@SOTK , @CMND , @SODU , @MACN ,@NGAYMOTK)
	  	END 
		COMMIT TRANSACTION
	END TRY

	BEGIN CATCH
    ROLLBACK TRANSACTION
		DECLARE @ErrorMessage VARCHAR(MAX), @ErrorSeverity INT, @ErrorState INT
		SET @ErrorMessage  = ERROR_MESSAGE()
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKH]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemKH] 
  @CMND nchar(10),
  @HO nvarchar(50), 
  @TEN nvarchar(10),
  @DIACHI nvarchar(100),
  @PHAI nvarchar(3), 
  @NGAYCAP datetime,
  @SODT nvarchar(15),
  @MACN nchar(10)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN TRANSACTION
  BEGIN TRY
  declare @existedCMND int
	exec @existedCMND = sp_Existed_CMND_KH @CMND
	if(@existedCMND = 1)
		BEGIN
      rollback
      RAISERROR('SO TAI KHOAN KHONG TON TAI !!!', 16, 1)
	  	RETURN 1 -- Thêm không thành công
		END
	if(@existedCMND = 0)
		BEGIN
			INSERT INTO KhachHang (CMND , HO , TEN , DIACHI , PHAI,NGAYCAP,SODT,MACN)
					VALUES (@CMND , @HO , @TEN , @DIACHI , @PHAI,@NGAYCAP,@SODT,@MACN)
		END 
		COMMIT TRANSACTION;
	END TRY
	
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION;
			DECLARE @ErrorMessage NVARCHAR(2000)
			SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
			RAISERROR (@ErrorMessage,16,1)
		END
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ThemNV]
@CMND nchar(10),
@HO nvarchar(50),
@TEN nvarchar(10),
@PHAI nvarchar(3),
@SODT nvarchar(15),
@DIACHI nvarchar(100)
as
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION
BEGIN TRY
	declare @existedCMND int
	exec @existedCMND = sp_Existed_CMND_NV @CMND
	if(@existedCMND = 1)
	BEGIN
		ROLLBACK TRANSACTION
		RETURN 1 -- Thêm không thành công
	END

	declare @MACN nchar(10)
	set @MACN = (select top 1 MACN from dbo.CHINHANH)

	declare @temp nchar(10);
    declare @newID bigint;
    declare @newMANV nchar(10);

	SELECT @temp = ISNULL(MAX(MANV), 'NV00000000') FROM LINK0.NGANHANG.dbo.NHANVIEN

    SET @newID = CAST((SUBSTRING(@temp, 3, 8)) AS bigint) + 1
    SET @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS nvarchar(10)), 8)

	insert into dbo.NHANVIEN(MANV, CMND, HO, TEN, PHAI, SODT, DIACHI, MACN) 
	values (@newMANV, @CMND, @HO, @TEN, @PHAI, @SODT, @DIACHI, @MACN)

	COMMIT TRANSACTION
	RETURN 0 --Thêm thành công
END TRY

BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION;
		DECLARE @ErrorMessage NVARCHAR(2000)
		SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage,16,1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimNV]
@X nchar(10)
AS
DECLARE @MACN VARCHAR(10), @HO nvarchar(50), @TEN nvarchar(10)
IF exists (select MANV from dbo.NHANVIEN where MANV = @X)
    BEGIN
        select TENCN = (select TENCN from dbo.CHINHANH), HO, TEN
        from dbo.NHANVIEN 
        where MANV = @X
    END
ELSE IF exists (select MANV from LINK0.NGANHANG.dbo.NHANVIEN where MANV = @X)
    BEGIN
        select @MACN = MACN, @HO = HO, @TEN = TEN
        from LINK0.NGANHANG.dbo.NHANVIEN
        where MANV = @X

        select TENCN, HO = @HO, TEN = @TEN
        from LINK0.NGANHANG.dbo.CHINHANH 
        where MACN = @MACN
    END
ELSE
    raiserror('Ma nhav vien ban tim khong co', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_TimNV_tu_MANV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_TimNV_tu_MANV]
@X INT
AS
DECLARE @MACN VARCHAR(10), @HO NVARCHAR(20), @TEN NVARCHAR(10)
IF EXISTS (SELECT MANV FROM DBO.NHANVIEN WHERE MANV=@X)		/* Tim trong phan manh hien tai */
	BEGIN
		SELECT TENCN = (SELECT TENCN FROM DBO.CHINHANH), HO, TEN 
		FROM DBO.NHANVIEN WHERE MANV=@X
	END
ELSE
	IF EXISTS(SELECT MANV FROM LINK0.NGANHANG.DBO.NHANVIEN WHERE MANV=@X)	/* Tim trong site chu */
	BEGIN
		SELECT @MACN=MACN, @HO=HO, @TEN=TEN FROM LINK0.NGANHANG.DBO.NHANVIEN
		WHERE MANV=@X
		SELECT TENCN, HO=@HO, TEN=@TEN FROM LINK0.NGANHANG.DBO.CHINHANH WHERE @MACN=MACN
	END
	ELSE	/* Khong tim thay */
	RAISERROR('Ma nhan vien khong ton tai!!!', 16, 1)

GO
/****** Object:  StoredProcedure [dbo].[sp_xoa_tai_khoan_nhan_vien]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_xoa_tai_khoan_nhan_vien]
	@manv NCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN TRANSACTION

		DECLARE @loginname NVARCHAR(30)

		-- Find login nameby @manv
		SELECT @loginname = L.name FROM sys.sysusers U
		INNER JOIN sys.syslogins L ON U.sid = L.sid
		WHERE U.name = @manv

		DECLARE @sql NVARCHAR(MAX)

		-- Drop user
		SET @sql = 'DROP USER ' + @manv
		EXECUTE(@sql)

		-- Drop login
		SET @sql = 'DROP LOGIN ' + @loginname
		EXECUTE(@sql)

	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
        ROLLBACK TRANSACTION
		
		DECLARE @ErrorMessage VARCHAR(MAX), @ErrorSeverity INT, @ErrorState INT
		SET @ErrorMessage  = ERROR_MESSAGE()
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaLogin]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaLogin]
    @LGNAME VARCHAR(50),
    @USRNAME VARCHAR(50)
AS
BEGIN
    EXEC SP_DROPUSER @USRNAME
    EXEC SP_DROPLOGIN @LGNAME
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNV]    Script Date: 6/15/2024 10:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XoaNV]
    @MANV nchar(10)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
BEGIN TRANSACTION;
BEGIN TRY

    IF NOT EXISTS (SELECT MANV FROM dbo.NHANVIEN WHERE MANV = @MANV)
    BEGIN
        RETURN 1; -- Không tồn tại nhân viên
    END
    ELSE IF (SELECT TrangThaiXoa FROM dbo.NHANVIEN WHERE MANV = @MANV) = 1
        BEGIN
            RETURN 2; -- Nhân viên đã bị xóa trước đó
        END
    ELSE
        BEGIN
            UPDATE NHANVIEN
            SET TrangThaiXoa = 1
            WHERE MANV = @MANV;
        END

    COMMIT TRANSACTION;
    RETURN 0; -- Xóa thành công
END TRY

BEGIN CATCH
	IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
            DECLARE @ErrorMessage NVARCHAR(2000)
            SELECT @ErrorMessage = 'LOI: ' + ERROR_MESSAGE()
            RAISERROR (@ErrorMessage,16,1)
        END
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 380
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 7
               Left = 428
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
USE [master]
GO
