USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 4/20/2024 10:01:38 PM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [s]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE USER [s] FOR LOGIN [z] WITH DEFAULT_SCHEMA=[s]
GO
/****** Object:  User [HTKN]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE ROLE [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]
GO
/****** Object:  DatabaseRole [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE ROLE [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]
GO
/****** Object:  DatabaseRole [MSmerge_52650E30CF884727B473E26F2948DB06]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE ROLE [MSmerge_52650E30CF884727B473E26F2948DB06]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_BD7030900E3242C7B4E4E4BD9A25DE4C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_5CBE28EBD93D4DBB87D2A4D8AD07ECBB]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_52650E30CF884727B473E26F2948DB06]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Schema [s]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE SCHEMA [s]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_TaoMaNV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnc_TaoMaNV]()
RETURNS @NewIDTable TABLE (NewMANV nchar(10))
AS
BEGIN
    DECLARE @temp nchar(10);
    DECLARE @newID int;
    DECLARE @newMANV nchar(10);

    SELECT @temp = MAX(MANV) FROM LINK0.NGANHANG.dbo.NHANVIEN;

    SET @newID = CAST((SUBSTRING(@temp, 3, 8)) AS INT) + 1;
    SET @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS NVARCHAR(10)), 8);

    INSERT INTO @NewIDTable (NewMANV) VALUES (@newMANV);

    RETURN;
END;
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SoDT] [nvarchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_ChuyenTien] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GoiRut] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[NGAYCAP] [date] NOT NULL,
	[SoDT] [nvarchar](15) NULL,
	[PHAI] [nvarchar](3) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NULL,
	[SoDT] [nvarchar](15) NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'123456', N'c21f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'c31f9af9-5ddd-ee11-8ca7-920f0c911ca1')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (16, N'010000002', CAST(N'2022-05-11T01:39:18.953' AS DateTime), 1000000.0000, N'010000015', N'NV00000002', N'c8b9e9cd-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (17, N'010000002', CAST(N'2022-05-11T01:42:22.273' AS DateTime), 1000000.0000, N'010000015', N'NV00000002', N'c9b9e9cd-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (18, N'010000002', CAST(N'2022-05-26T10:17:15.927' AS DateTime), 1000000.0000, N'010000004', N'NV00000002', N'cab9e9cd-b8fd-ee11-8cb3-005056c00008')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290154, N'010000003', N'GT', CAST(N'2022-05-05T18:29:46.153' AS DateTime), 100000.0000, N'NV00000001', N'f56c3597-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290155, N'010000003', N'RT', CAST(N'2022-05-05T18:30:11.893' AS DateTime), 100000.0000, N'NV00000001', N'f66c3597-b8fd-ee11-8cb3-005056c00008')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (290156, N'010000002', N'GT', CAST(N'2022-05-11T01:41:53.133' AS DateTime), 1000000.0000, N'NV00000001', N'f76c3597-b8fd-ee11-8cb3-005056c00008')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Lê Phúc ', N'Khang', N'Quảng Ngãi', N'025234    ', CAST(N'2002-10-01' AS Date), N'123124214', N'nam', N'BENTHANH  ', N'c517f258-18e8-ee11-8caa-005056c00008')
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Trần Thị Huyền', N'Nguyễn', N'118 Zijo Pike', N'1000000000', CAST(N'2021-12-12' AS Date), N'0800908761', N'Nữ', N'BENTHANH  ', N'915deee0-81fd-ee11-8cb3-005056c00008')
INSERT [dbo].[KHACHHANG] ([HO], [TEN], [DIACHI], [CMND], [NGAYCAP], [SoDT], [PHAI], [MACN], [rowguid]) VALUES (N'Lê Thị', N'Phượng', N'1425 Opime Pass', N'1010101010', CAST(N'2020-12-27' AS Date), N'0506542471', N'Nữ', N'TANDINH   ', N'925deee0-81fd-ee11-8cb3-005056c00008')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000001', N'Trần Minh', N'Nguyên', N'', N'0123456789', N'Nam', N'1111111111', N'BENTHANH  ', 0, N'c41f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000002', N'Lê Văn', N'Anh', N'', N'1234567890', N'Nam', N'2222222222', N'TANDINH   ', 0, N'c51f9af9-5ddd-ee11-8ca7-920f0c911ca1')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [CMND], [PHAI], [SoDT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV00000003', N'Lê Phúc ', N'Khang', N'Quảng Ngãi', N'4123412343', N'nam', N'4312341234', N'BENTHANH  ', 0, N'1f08efec-d9dd-ee11-8ca7-920f0c911ca1')
GO
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000001', N'2222222222', 99100000.0000, N'BENTHANH  ', CAST(N'2022-05-26T00:00:00.000' AS DateTime), N'd1e08979-b7fd-ee11-8cb3-005056c00008')
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000002', N'1000000000', 1900200000.0000, N'BENTHANH  ', CAST(N'2022-05-30T20:01:00.977' AS DateTime), N'e8861bbc-b7fd-ee11-8cb3-005056c00008')
INSERT [dbo].[TAIKHOAN] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'010000003', N'1231231231', 8800000.0000, N'BENTHANH  ', CAST(N'2022-05-31T23:54:44.243' AS DateTime), N'e9861bbc-b7fd-ee11-8cb3-005056c00008')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHINHANH__A58D6F6243AD1672]    Script Date: 4/20/2024 10:01:39 PM ******/
ALTER TABLE [dbo].[CHINHANH] ADD UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_901578250]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_901578250] ON [dbo].[CHINHANH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYGD]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYGD] ON [dbo].[GD_CHUYENTIEN]
(
	[NGAYGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TK_CHUYENTIEN]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_TK_CHUYENTIEN] ON [dbo].[GD_CHUYENTIEN]
(
	[SOTK_CHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1333579789]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1333579789] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1205579333]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1205579333] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KHACHHANG_TEN]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_KHACHHANG_TEN] ON [dbo].[KHACHHANG]
(
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_949578421]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [MSmerge_index_949578421] ON [dbo].[KHACHHANG]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN_CMND]    Script Date: 4/20/2024 10:01:39 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ__NHANVIEN_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NHANVIEN_TEN]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_NHANVIEN_TEN] ON [dbo].[NHANVIEN]
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TAIKHOAN_NGAYMOTK]    Script Date: 4/20/2024 10:01:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_TAIKHOAN_NGAYMOTK] ON [dbo].[TAIKHOAN]
(
	[NGAYMOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [MSmerge_df_rowguid_2E9F8BD251E6450883E26F9BEF4A62CD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_EFF0F07FF68F4CF89CEFAF312B8AF52C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_876BFB28580947079E51EAA2805681BB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_631E20C8B319440994A215F20B05B284]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT ('Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_22FC524E48B34BB084850ECA703CED39]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [MSmerge_df_rowguid_679335EF4D084E77AAE6668C59FAD401]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_ChuyenTien_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_ChuyenTien_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_ChuyenTien_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_ChuyenTien_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_ChuyenTien_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_ChuyenTien_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NHANVIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TAIKHOAN] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TAIKHOAN] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHHANG] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_ChuyenTien] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_ChuyenTien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_3BDCA57A_F938_470D_8C38_543F067606C5] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_3BDCA57A_F938_470D_8C38_543F067606C5]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_GD_GoiRut] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_GD_GoiRut]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_GD_GoiRut_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_GD_GoiRut_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0E87CF11_63FD_4841_A3B5_812DCFD91D89] CHECK NOT FOR REPLICATION (([MAGD]>(290124) AND [MAGD]<=(291124) OR [MAGD]>(291124) AND [MAGD]<=(292124)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_0E87CF11_63FD_4841_A3B5_812DCFD91D89]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_PHAI] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KhachHang_PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_PHAI] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NhanVien_PHAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SODU] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TaiKhoan_SODU]
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNhanVien]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DanhSachNhanVien]
as
BEGIN
	select MANV, CMND, HO, TEN, PHAI, DIACHI, SoDT, TrangThaiXoa
	from dbo.NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachTaiKhoan_ChiNhanh]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachTaiKhoan_ChiNhanh] @dateFrom AS DATE, @dateTo AS DATE, @Loai VARCHAR(3), @MACN NCHAR(10)
AS
BEGIN
-- IF EXISTS (SELECT MACN FROM LINK2.NGANHANG.dbo.KhachHang WHERE MACN = @MACN)
--Cho chạy vào thẳng để xem luôn
      --BEGIN
                  IF (@Loai = 'T')--TẤT CẢ CHI NHÁNH
                  BEGIN
                        SELECT TK.SOTK,KH.HO +' ' + KH.TEN AS HOTEN,TK.CMND,TK.MACN,TK.NGAYMOTK
                        FROM LINK2.NGANHANG.dbo.KhachHang AS KH,
                        (SELECT SOTK,CMND,MACN,NGAYMOTK FROM TaiKhoan WHERE NGAYMOTK BETWEEN @dateFrom AND @dateTo) AS TK 
                        WHERE KH.CMND = TK.CMND 
                        ORDER BY NGAYMOTK
                  END
                  ELSE IF (@Loai = 'C')--CHI NHÁNH HIỆN TẠI
                  BEGIN
                        SELECT TK.SOTK,KH.HO +' ' + KH.TEN AS HOTEN,TK.CMND,TK.MACN,TK.NGAYMOTK
                        FROM LINK2.NGANHANG.dbo.KhachHang AS KH,
                        (SELECT SOTK,CMND,MACN,NGAYMOTK FROM TaiKhoan WHERE NGAYMOTK BETWEEN @dateFrom AND @dateTo AND MACN = @MACN) AS TK 
                        WHERE KH.CMND = TK.CMND
                        ORDER BY NGAYMOTK
                  END
     -- END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DSGD_ChuyenTien_NV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DSGD_ChuyenTien_NV]
@MANV nchar(10)
as
select MAGD, NGAYGD, SOTK_CHUYEN, SOTK_NHAN, SOTIEN
from dbo.GD_CHUYENTIEN 
where MANV = @MANV
GO
/****** Object:  StoredProcedure [dbo].[sp_DSGD_GuiRut_NV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DSGD_GuiRut_NV]
@MANV nchar(10)
as
select MAGD, LOAIGD, SOTK, NGAYGD, SOTIEN
from dbo.GD_GOIRUT
where MANV = @MANV
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_CMND_KH]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Existed_CMND_KH]
@CMND nchar(10)
as
BEGIN
	IF exists (select CMND from LINK2.NGANHANG.dbo.KHACHHANG where CMND = @CMND)
		return 1;
	else
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_CMND_NV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Existed_CMND_NV]
@CMND nchar(10)
as
BEGIN
	IF exists (select CMND from LINK0.NGANHANG.dbo.NHANVIEN where CMND = @CMND)
		return 1;
	ELSE
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Existed_STK]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Existed_STK]
@SOTK nchar(9)
as
BEGIN
	IF exists (select SOTK from LINK2.NGANHANG.dbo.TAIKHOAN where SOTK = @SOTK)
		return 1;
	ELSE
		return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaxMaNV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_GetMaxMaNV]
as
BEGIN
	select MAX(MANV)
	from LINK0.NGANHANG.dbo.NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaxSTK]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetMaxSTK]
as
BEGIN
	select MAX(SOTK)
	from dbo.TAIKHOAN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayThongTinLogin]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_LayThongTinLogin]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @USERNAME NVARCHAR(50), @UID INT
SELECT @UID = UID, @USERNAME = NAME 
FROM sys.sysusers 
WHERE sid = SUSER_SID(@TENLOGIN)
 
IF exists (select MANV from dbo.NHANVIEN where MANV = @USERNAME)
	BEGIN
		SELECT USERNAME = @USERNAME, 
			HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @USERNAME),
			TENNHOM = NAME
		FROM sys.sysusers 
		WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID= @UID)
	END
ELSE
	SELECT USERNAME = @USERNAME, 
		HOTEN = (SELECT HO + ' ' + TEN FROM dbo.KHACHHANG WHERE CMND = @USERNAME),
		TENNHOM = NAME
		FROM sys.sysusers
		WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID= @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinNhanVien]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinNhanVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UID INT
SELECT @UID= UID, @TENUSER=NAME FROM sys.sysusers 
     WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT MANV = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UID)
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoLogin]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_TaoLogin]
@LGNAME VARCHAR(50),
@PASS VARCHAR(50),
@USERNAME VARCHAR(50),
@ROLE VARCHAR(50)
AS
	DECLARE @RET INT
	EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'NGANHANG'
	
	IF (@RET =1)  -- LOGIN NAME BI TRUNG
		RETURN 1
	EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	
	IF (@RET =1)  -- USER  NAME BI TRUNG
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		RETURN 2
	END
	
	EXEC sp_addrolemember @ROLE, @USERNAME
	IF @ROLE = 'NganHang' OR @ROLE = 'ChiNhanh'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
	RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoMaNV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TaoMaNV]
as
BEGIN
	declare @temp nchar(10)
	declare @newID int
	declare @newMANV nchar(10)

	select @temp = MAX(MANV)
	from LINK0.NGANHANG.dbo.NHANVIEN

	set @newID = CAST((SUBSTRING(@temp, 3, 8)) as INT) + 1
	set @newMANV = 'NV' + RIGHT('0000000000' + CAST(@newID AS NVARCHAR(10)), 8)

	select @newMANV as MANV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ThemNV]
@MANV nchar(10),
@CMND nchar(10),
@HO nvarchar(50),
@TEN nvarchar(10),
@PHAI nvarchar(3),
@SODT nvarchar(15),
@DIACHI nvarchar(100)
as
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	begin distributed TRAN;
	declare @existedCMND int
	exec @existedCMND = sp_Existed_CMND_NV @CMND
	if(@existedCMND = 1)
		raiserror('CMND da ton tai', 16, 1)
		rollback;

	declare @MACN nchar(10)
	set @MACN = (select top 1 MACN from dbo.CHINHANH)

	insert into dbo.NHANVIEN(MANV, CMND, HO, TEN, PHAI, SODT, DIACHI, MACN) VALUES (@MANV, @CMND, @HO, @TEN, @PHAI, @SODT, @DIACHI, @MACN)
	commit TRAN;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimNV]
@X nchar(10)
AS
DECLARE @MACN VARCHAR(10), @HO nvarchar(50), @TEN nvarchar(10)
IF exists (select MANV from dbo.NHANVIEN where MANV = @X)
    BEGIN
        select TENCN = (select TENCN from dbo.CHINHANH), HO, TEN
        from dbo.NHANVIEN 
        where MANV = @X
    END
ELSE IF exists (select MANV from LINK0.NGANHANG.dbo.NHANVIEN where MANV = @X)
    BEGIN
        select @MACN = MACN, @HO = HO, @TEN = TEN
        from LINK0.NGANHANG.dbo.NHANVIEN
        where MANV = @X

        select TENCN, HO = @HO, TEN = @TEN
        from LINK0.NGANHANG.dbo.CHINHANH 
        where MACN = @MACN
    END
ELSE
    raiserror('Ma nhav vien ban tim khong co', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaLogin]    Script Date: 4/20/2024 10:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaLogin]
    @LGNAME VARCHAR(50),
    @USRNAME VARCHAR(50)
AS
BEGIN
    EXEC SP_DROPUSER @USRNAME
    EXEC SP_DROPLOGIN @LGNAME
END
GO
USE [master]
GO
